html { 
		background: url(../images/head_image_grey_lw.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	body{
		margin: 0px auto;
		background-color: transparent;
	}

	.media, #a{
		clear:left;
		width:80%;
		margin-top:12px;
		margin-bottom: 45px;
	}
	.media-object{
		width: 100px;
	}
	.media-middle{
		padding: 0px;
	}
	.media-body{
		padding-left: 8px;
	}
	#logo{
		margin: 10px auto;
		text-align: center;
	}
	#blue_barn_logo{
		height:auto;
		width: 20%;
		max-width: 300px;
	}
	#about-us{
		margin: 0px auto;
		width: 80%;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.4);	
	}


	.button{
		width: 100%;
		height: 60px;
		-moz-box-shadow:inset 0px 1px 80px 5px #91b8b3;
		-webkit-box-shadow:inset 0px 1px 80px 5px #91b8b3;
		box-shadow:inset 0px 1px 80px 5px #000;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7B80A1 ), color-stop(1, #7B80A1 ));
		background:-moz-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:-webkit-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:-o-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:-ms-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:linear-gradient(to bottom, #7B80A1  5%, #7B80A1  100%)
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B80A1 ', endColorstr='#7B80A1 ',GradientType=0);
		background-color:#7B80A1;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:10px 0px;
		text-decoration:none;
		text-shadow:none;
	}
	.button:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7B80A1 ), color-stop(1, #7B80A1 ));
		background:-moz-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:-webkit-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:-o-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:-ms-linear-gradient(top, #7B80A1  5%, #7B80A1  100%);
		background:linear-gradient(to bottom, #7B80A1  5%, #7B80A1  100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B80A1 ', endColorstr='#7B80A1 ',GradientType=0);
		background:#7B80A1 ;
		color: #fff;
	}
	nav{
		width: 100%;
		text-align: center;
	}
	nav ul ul {
		display: none;
	}

	nav ul li:hover > ul {
		display: block;
		width:16.6%;
	}
	nav ul {
		background: #efefef; 
		background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
		background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
		background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
		box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
		padding: 0px;
		border-radius: 10px;  
		list-style: none;
		position: relative;
		width: 100%;
		margin-bottom: 0px;
	}
	nav ul:after {
		clear: both;
		display: block;
	}
	nav ul li {
		float: left;
		width: 11.1%;
	}
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
	nav ul li:hover a {
		color: #fff;
	}

	nav ul li a {
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
	}
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
		width: initial;
	}
	nav ul ul li a {
		padding: 15px 40px;
		color: #fff;
	}	
	nav ul ul li a:hover {
		background: #4b545f;
	}
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

	.hidden-list{
		display: none;
	}
	#head-wrapper{
		display:table;
		width:100%;
	}
	#bbw-head{
		margin: 0px auto;
		width: 100%;
		text-align: center;
		background-color: black;
		opacity: 0.85;
		font-size: 0px;
		display: flex;
	}
	.this-page, .this-page:hover{
		color: black !important;
		background: #fff;
		box-shadow: inset 0px 0px 0px 0px #000;
		-moz-box-shadow:inset 0px 0px 0px 0px #000;
		-webkit-box-shadow:inset 0px 0px 0px 0px #000;
		pointer-events: none;
   		cursor: default;
	}
	@media all and (max-width: 900px){
		html{
			background: url(../images/head_image_grey_ls.jpg) no-repeat center center fixed; 
		}
		.make-list{
			display: none;
		}
		.button{
			padding-left: 0px;
			padding-right: 0px;
			height: 50px;
			font-size: 12px;
			vertical-align: middle; 
		}
		nav ul li {
			float: left;
			width: 16.6%;
		}
		.hidden-list{
			display: block;
		}
	}

	@media all and (max-width: 575px){
		.button{
			font-size: 10px;
			font-weight: bold;
		}
	}
	@media all and (min-width: 650px) and (max-width: 1000px){
		html{
			background: url(../images/head_image_grey_lm.jpg) no-repeat center center fixed; 
		}
	}
	
	@media all and (min-width: 730px) and (max-width: 849px){
		.button{
			height: 50px;
			font-size: 12px;
			vertical-align: middle;
		}
	}